
        /* General Styles */
        .content-container {
            max-width: 800px;
            width: 100%;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s, box-shadow 0.3s;
            text-align: center;
            margin-top: 30px;
        }

        .content-container:hover {
            transform: translateY(-10px);
            box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
        }

        .section {
            margin-bottom: 0;
            padding-bottom: 0;
            border: none;
        }

        .section-title {
            font-size: 2em;
            margin-bottom: 20px;
            color: #333;
            text-transform: uppercase;
            letter-spacing: 2px;
            position: relative;
            display: inline-block;
        }

        .section-title::after {
            content: '';
            width: 50px;
            height: 5px;
            background: #f7c621;
            display: block;
            margin: 10px auto 0;
            border-radius: 2px;
        }

        .subsection-title {
            font-size: 1.5em;
            margin-bottom: 10px;
            color: #000;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            position: relative;
        }

        .subsection-title::before {
            content: '';
            width: 25px;
            height: 3px;
            display: block;
            margin: 0 auto 10px;
            border-radius: 2px;
        }

        .text {
            font-size: 1.1em;
            margin-bottom: 20px;
            line-height: 1.6;
            text-align: justify;
            color: #666;
        }

        .list {
            list-style-type: none;
            padding-left: 0;
            text-align: left;
        }

        .list-item {
            margin-bottom: 20px;
        }

        /* Responsive Styles */
        @media (max-width: 768px) {
            .content-container {
                padding: 15px;
            }

            .section-title {
                font-size: 1.8em;
            }

            .subsection-title {
                font-size: 1.3em;
            }

            .text {
                font-size: 1em;
            }
        }

        @media (max-width: 480px) {
            .section-title {
                font-size: 1.5em;
            }

            .subsection-title {
                font-size: 1.2em;
            }

            .text {
                font-size: 0.9em;
            }

            .content-container {
                padding: 50px;
            }
        }
    