/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.service_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  margin: 0 auto; /* Centers the container */
}

.box {
  background: linear-gradient(135deg, #ffffff, #ffffff);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  margin: 20px;
  flex: 1 1 calc(33.33% - 40px); /* Three boxes per row, with margin */
  max-width: calc(33.33% - 40px); /* Three boxes per row, with margin */
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 10px;
  overflow: hidden;
}

.box:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.img-box {
  text-align: center;
  padding: 20px;
  background-color: #ffc107;
  margin: 0 auto; /* Center the sprite image within the box */
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  background: url('../images/a1.png') no-repeat top left;
  width: 100px;
  height: 100px;
}

.icon.backpack-black {
  background-position: 0 0;
}

.icon.City {
  background-position: 0 -101px;
}

.icon.delivery-man-black1 {
  background-position: 0 -202px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon {
    background: url('../images/a1.png') no-repeat top left;
    background-size: 100px 303px;
  }
}

.detail-box {
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

.detail-box h5 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

.detail-box p {
  font-size: 1em;
  line-height: 1.8;
  color: #666;
  text-align: left;
}

/* Media Queries */
@media (max-width: 768px) {
  .box {
    flex: 1 1 100%; /* Full width on smaller screens */
    max-width: 100%; /* Full width on smaller screens */
  }
}
.icon {
  background: url('../images/a1.png') no-repeat top left;
  width: 100px;
  height: 100px;
}
.icon.backpack-black {
  background-position: 0 0;
}
.icon.City {
  background-position: 0 -102px;
}
.icon.delivery-man-black1 {
  background-position: 0 -204px;
}