{% extends "base.html" %}
{% block body %}
{% load static %}

<link href="{% static 'css/service.css' %}" rel="stylesheet" />
<br>
<br>
<br>
<!-- Service Section -->
<div class="container">
  <div class="heading_container" style="margin-left: 10px;">
    <h2>
      Our <br /> Services
    </h2>
  </div>
</div>

<div class="service_container">
  <!-- Service Box 1: Private Driver -->
  <div class="box">
    <div class="img-box">
      <div class="icon delivery-man-black1"></div>
    </div>
    <div class="detail-box">
      <h5>Private Driver</h5>
      <p>
        The primary function of a Personal Driver is to provide transportation for passengers from one location to another. It is essential that they drive their passengers in a safe, comfortable, and professional manner while simultaneously keeping track of navigation, traffic, and timing.
      </p>
    </div>
  </div>

  <!-- Service Box 2: City Tour -->
  <div class="box">
    <div class="img-box">
      <div class="icon City"></div>
    </div>
    <div class="detail-box">
      <h5>City Tour</h5>
      <p>
        We specialize in providing Taxi service, Car Rental Service, and Tour Package service from city to city routes for business travelers and local tourists. We are committed to offering the best hassle-free Taxi services, Cab services, and Car hire services in major cities across Gujarat.
      </p>
    </div>
  </div>

  <!-- Service Box 3: Luggage Transfer -->
  <div class="box">
    <div class="img-box">
      <div class="icon backpack-black"></div>
    </div>
    <div class="detail-box">
      <h5>Luggage Transfer</h5>
      <p>
        Luggage delivery services provide door-to-door luggage delivery, where your luggage or sports equipment is picked up from your home, office, or any physical address and delivered to your hotel, resort, or any other location. With decreasing luggage allowances and increasing excess luggage fees, our service ensures convenient and stress-free travel.
      </p>
    </div>
  </div>
</div>

{% endblock body %}
